<div class="">
  <div class="bg-bg-200 p-8">
    <h1 class="text-text-100 text-4xl mb-2">Sign in</h1>
    <h4 class="text-xl">Welcome back!</h4>
  </div>
  <div class="p-8 container mx-auto md:w-1/4">
    <form class="flex flex-col gap-2">
      <label for="email" class="text-sm focus-within:text-text-100"
        >Email
        <input
          class="block w-full bg-bg-200 border-bg-300 rounded text-text-100"
          type="email"
          id="email"
        />
      </label>
      <label for="password" class="text-sm focus-within:text-text-100"
        >Password
        <input
          class="block w-full bg-bg-200 border-bg-300 rounded text-text-100"
          type="password"
          id="password"
        />
      </label>
      <button class="bg-primary-100 text-text-100 p-2 rounded block mt-3">
        Continue
      </button>
      <a routerLink="../signup" class="">Sign up</a>
    </form>
  </div>
</div>
